<div class="row">
  <div class="col">
    <h1>Tasktracker: Log In</h1>
    <%= form_tag("/session", method: :post) do %>
      <div class="form-group">
        Name
        <input type="name" name="name" placeholder="John....">
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Log In</button>
        <%= link "Register", to: user_path(@conn, :new) %>
      </div>
    <% end %>

  </div>
</div>
